

ion-content {
  --background: var(--ion-color-dark-tint)

}


/*ion-input[type=text], ion-input[type=password] {
  --background: var(--ion-color-primary-contrast);
  border: none;
  padding: 15px !important;
  margin-bottom: 5px;
  border-radius: 5px;
}*/

